:root {
    --primary-text-color:#212121;
    --tittle-text-clolr: #757575;
    --accent-color:#2196F3;
    --white-color: #FFFFFF;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
color: var(--primary-text-color) ;

}
.button {
    height:50px;
    width:200px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}
.button.primary {
    background-color: var(--accent-color);
    color: var(--white-color);
    font-size: 16px;
    letter-spacing: 6%;
line-height:1.87;
text-align: center;
vertical-align: middle;
font-weight: 700;
}
/*.button.secondary {
    background-color: var(--white-color);
    color: var(--accent-color);
}
*/
.logo {
font-family: Raleway;
font-size: 26px;
text-decoration: none;
letter-spacing: 3px;
line-height: 1;
font-weight: 700;
}
.logo .accent {
    color: var(--accent-color);
}
.logo .primary {
    color: var(--primary-text-color);
}
.nav, .contact, li {
    list-style-type: none; 

}
.nav-link {
  color: var(--primary-text-color);  
  font-weight: 500;
}
.nav-link.active {
    color: var(--accent-color);
}
.nav a{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1;
    color: var(--primary-text-color);
    text-decoration: none;

}
.nav a:hover, .nav a:focus {
    color: var(--accent-color);
}

.contact a{
    color: var(--tittle-text-clolr);
    text-decoration: none;
}
.contact a:hover, .contact a:focus{
    color: var(--accent-color);

}
.hero-tittle {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6px;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 900;


}
.advantages-tittle {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 3%;
    text-transform: uppercase;
    font-weight: 700;
   
}
.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: var(--tittle-text-clolr);
    
}
.tagline, .team-tittle {
    font-size: 36px;
    line-height: 1;
    letter-spacing: 3%;
    text-align: center;
    font-weight: 700;
}
.team-name {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 3%;
    text-align: center;
    font-weight: 500;
}
.team-position {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 3%;
    color: var(--tittle-text-clolr);
    text-align: center;
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 1);
    font-style: normal;
}
.contact-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
}
/* ПОРТФОЛИО */
.filter-btn {
    border-radius: 4px;
    background-color: rgba(245, 244, 250, 1);
  border: none;
  font-size: 16px;
    line-height: 1.62;
    letter-spacing: 3%;
    text-align: center;
    cursor: pointer;
    font-weight: 500;

}   
.filter-btn:hover {
    color: var(--white-color);
    background-color:var(--accent-color);
  

}
.project-item {

 font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
color: rgba(33, 33, 33, 1);
font-weight: 700;

}
.category {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 3%;
color:rgba(117, 117, 117, 1);


}